

.dashboard{
    width: 80vw;
    display: flex;

    margin: 5rem 10rem 5rem 10rem; 

    display: flex;
    align-items: center;
    justify-content: center;
    


    .results{
        background-color: whitesmoke;
        color: black;
        margin: .5rem; 
        text-align: justify;
        
        ul{
            list-style: disc;
            padding: 1rem;

            li{
                margin-left: 1rem;
            }
            
        }
        

        .destaque{
            color: blue;
            font-weight: bold;
        }

    }

}

