
#Nav{
    
    background-color: whitesmoke;
    width: 100vw;
    height: 2rem;
    box-shadow: 0 0 2px rgba(black, .2);
    padding: 0 .2rem 0 .2rem;

    h1{
        font-size: 16pt;
        color: black;
        height: 2vh;
    }

    position: relative;
    top: 0;
    left: 0;

}


