
#App{
    

    width: 100vw;
    background-color: whitesmoke;
    color: white;



    


    .app{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 2rem;

    }
}


