@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Estilo para a barra de rolagem */
::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
}

::-webkit-scrollbar-thumb {
    background-color: #2c2c2c; 
    border-radius: 0; 
}

::-webkit-scrollbar-track {
    background: #2c2c2c; 
}

/* Estilo para Firefox */
* {
    scrollbar-width: thin; 
    scrollbar-color: #2c2c2c #2c2c2c; 
}

